{% extends './layouts/default.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}

<body>
  <div class="container landing">
    <div class="row animated fadeInRight">
      <div class="col s12">
        <a href="" class="logo">artistly</a>
      </div>
    </div>
    <div class="row animated fadeInLeft">
      <div class="col s12">
        <section class="blurb">
          <h3>Where art lovers meet indie events.</h3>
          <p class="flow-text">Find the coolest events in your city and support those indie artists</p>

          <div class="row animated fadeInLeft">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="js-email" placeholder="email">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <a class="waves-effect waves-light btn invite js-submit">Get early access</a>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>



  </div>
</body>
<!-- End Coming Bgimg-->

{% endblock %}